body {

	margin-bottom: 40px;
	background: radial-gradient(#ffcc33, #b35c00,#4d2800);
	background-attachment: fixed;
	font-family: Verdana, sans-serif;
}

.cardname {
	font-weight: bold;
}


.jumbotron {
	background-color: #fff9e6;
}

h1.title {
	color: #000033;
}

input[type=checkbox] {
	margin-left: 100px;
}

button.accordion {
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: 1px solid;
	outline: none;
	transition: 0.6s;
}

button.accordion.active, button.accordion:hover {
    background: #ccc;
}

div.panel {
	padding: 0 18px;
	background-color: #fff9e6;
	border: none;
	outline: none;
	display: none;
}

div.panel.show {
	display: block !important;
}

.sound {
	background-color: #bbb;
	cursor: pointer;
	width: 100% ;
	border: none;
	text-align: left;
	outline: none;
}

.sound:hover {
	background-color: #ccc;
}

.sound:active {
	background-color: #ddd;
}
