<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Class</td>
            <td>Set</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["cardname"]}}</td>
               <td> {{ row["cardclass"]}}</td>
               <td>{{row['cardset']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>